/*-- scss:defaults --*/

/* remove title header */
#quarto-dashboard-header {
  display: none;
}

/* Remove margins and padding from the container */
.html-fill-container.bslib-grid {
  padding: 0 !important;
  margin: 0 !important;
}

/* Remove fill item spacing */
.html-fill-item {
  // padding: 0 !important;
  margin: 0 !important;
}

/* Remove specific bslib bottom spacing if applicable */
.html-fill-container > .html-fill-item.bslib-mb-spacing {
  margin-bottom: 0 !important;
}

.btn.btn-quarto {
  background-color: #5a5a5a; /* #78c2ad; was green color */
  border-color: #5a5a5a; /* #78c2ad; border, same color as background */
  color: #ffffff; /* text color for readability */
}

/* Optional: handle hover and active states */
.btn.btn-quarto:hover {
  background-color: #a6a6a6; /* was light green #a6d7c9 */
  border-color: #a6a6a6; /* was light green #a6d7c9 */
}

.btn.btn-quarto:disabled {
  background-color: #a6a6a6; /* was same light green #a6d7c9 */
  border-color: #a6a6a6; /* was same light green #a6d7c9 */
}

// $h2-font-size: 1.1rem;
// $h3-font-size: 1.1rem;

// title above plot - size and spacing
.ela-score-title {
  font-size: 1.1rem;
  font-weight: 625;
  color: #2c3e50;
  display: block;
  margin: 0 !important;
}

.ela-score-title + * {
  margin-top: 0 !important;
}

.panel-tabset {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

// border around chunk for title above plot
html-fill-item.html-fill-container.bslib-card,
.card.html-fill-item.html-fill-container.bslib-card {
  border: none !important;
}

/* Corrected selector */
.card-body.html-fill-item.html-fill-container {
  border: none !important;
  padding-bottom: 0 !important;
}

// shadow around chunk for title above plot
html-fill-item.html-fill-container.bslib-card,
.card.html-fill-item.html-fill-container.bslib-card {
  border: none !important;
  box-shadow: none !important;
}

// font for ELAGrowth plot
// ELAGrowth OJS plot
// ELAGrowth OJS plot
svg.ELAgrowth-plot {
  font-size: 1.1rem;

  // Axis tick labels
 // .tick text {
 //   font-size: 1rem;
 // }

  // Axis labels
 // .label {
 //   font-size: 1.5rem;
 // }
}

.ELAgrowth-plot-swatches.ELAgrowth-plot-swatches-wrap  {
    font-size: 0.65rem !important;
}

/* tabsets */
.tabset-primary .nav-tabs .nav-link.active {
  background-color: #5a5a5a;
  color: white;
  border-color: #5a5a5a;
  font-size: 1rem;
}

/* inactive tabs */
.tabset-primary .nav-tabs .nav-link {
  background-color: #ecf0f1;
  color: #5a5a5a;
  border-color: #dcdcdc;
  font-size: 1rem;
}


/*-- scss:rules --*/
// custom layouts and responsive styles
