/*-- scss:defaults --*/

/* Remove margins and padding from the container */
.html-fill-container.bslib-grid {
  padding: 0 !important;
  margin: 0 !important;
}

/* Remove fill item spacing */
.html-fill-item {
//  padding: 0 !important;
  margin: 0 !important;
}

/* Remove specific bslib bottom spacing if applicable */
.html-fill-container > .html-fill-item.bslib-mb-spacing {
  margin-bottom: 0 !important;
}

.btn.btn-quarto {
  background-color: #5a5a5a; /* #78c2ad; was green color */
  border-color: #5a5a5a;/* #78c2ad; border, the same color as background */
  color: #ffffff; /* text color for readability */
}

/* Optional: handle hover and active states */
.btn.btn-quarto:hover {
  background-color: #a6a6a6; /* was lite green #a6d7c9; */
  border-color: #a6a6a6; /* was lite green #a6d7c9; */
}

.btn.btn-quarto:disabled {
  background-color:#a6a6a6; /* was same lite green #a6d7c9; */
  border-color: #a6a6a6; /* was same lite green #a6d7c9; */ 
}


/*-- scss:rules --*/
// custom layouts and responsive styles

